<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha L'Isha - Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">
    
</head>
<body>
    <header>
        <h1>isha l'isha garden (nazerth)</h1>
        <nav>
            <a href="/post">Post Your Story</a>
            <a href="/statistics">Statistics</a>
            <a href="/display">Community Stories</a>
            <a href="/youhelp">How You Can Help</a>
        </nav>
</body>
</html>