<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
    <h1>isha l'isha</h1>
    <h2>intro</h2>
    <p>  
    As the impacts of climate change mount, millions of vulnerable people face disproportionate challenges in terms of extreme  events, health effects, food, water, and livelihood security, migration and forced displacement, loss of cultural identity, and other related risks. 
    </p>
    <h2>about us</h2>
        <h3>our goals</h3>
        <p></p>
        <h3>organizational structure</h3>
        <p></p>
        <h3>our activities</h3>
        <p></p>
        <h3>join us</h3>
        <a href="/signup">sign up</a>
        <a href="/signin">sign in</a>
        <h3>isha l'isha staff members</h3>
            <h4>name 1</h4>
            <p></p>
            <h4>name 2</h4>
            <p></p>
            <h4>name 3</h4>
            <p></p>
            <h4>name 4</h4>
            <p></p>
            <h4>name 5</h4>
            <p></p>
            <h4>name 6</h4>
            <p></p>
            <h4>name 7</h4>
            <p></p>
            <h4>name 8</h4>
            <p></p>

        <h3>our socials</h3>
        <p>facebook 1</p>
        <a href="https://www.facebook.com/HaifaFeministCenter"></a><br>
        <p>facebook 2</p>
        <a href="https://www.facebook.com/HaifaFeministInstitute"></a><br>
        <p>instagram</p>
        <a href="https://www.instagram.com/isha.2isha/"></a><br>
        <p>twitter</p>
        <a href="https://twitter.com/ishaleisha"></a>

</body>
</html>