<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha L'Isha - Home Page</title>
    <link rel="stylesheet" href="static/css/home.css">
    
</head>
<body>
    <header>
        <h1>Isha L'Isha</h1>
        <nav>
            <a href="/post">Post Your Story</a>
            <a href="/statistics">Statistics</a>
            <a href="/display">Community Stories</a>
            <a href="/youhelp">How You Can Help</a>
        </nav>
    </header>

    <section>
        <div class="intro">
            <h2>Intro</h2>
            <p>
                As the impacts of climate change mount, millions of vulnerable people face disproportionate challenges in terms of extreme events, health effects, food, water, and livelihood security, migration and forced displacement, loss of cultural identity, and other related risks.
            </p>
        </div>
        <div class="about">
            <h2>About Us</h2>
            <p>
                Founded in 1983, “Isha L’Isha” (Woman to Woman) is a successor to the feminist women of Haifa who fought for women’s rights in the 1970s. We are a community of women acting out of a desire to maintain partnership and understanding among women in Israel, regardless of religion, nationality, ethnic origin, sexual preference, or socioeconomic status. “Isha L’Isha” is the oldest feminist center in Israel and a leading voice in the struggle for women’s rights in the country.
            </p>
        </div>
    </section>

    <div class="join-us">
        <h2>Join Us</h2>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
    </div>

    <div class="socials">
        <h2>Our Socials</h2>
        <a href="https://www.facebook.com/HaifaFeministCenter">Haifa Feminism Center (Facebook)</a>
        <a href="https://www.facebook.com/HaifaFeministInstitute">Haifa Feminism Institute (Facebook)</a>
        <a href="https://www.instagram.com/isha.2isha/">Instagram</a>
        <a href="https://twitter.com/ishaleisha">Twitter</a>
    </div>

</body>
</html>
