<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/post.css">
	<title></title>
</head>
<body>
    <h1>tell your story</h1>    
        <nav>
            <a href="/home">home</a>
            <a href="/statistics">Statistics</a>
            <a href="/display">Community Stories</a>
            <a href="/youhelp">How You Can Help</a>
            <a href="/courses">Workshops</a>
        </nav>
    </header>  
    <form method="post" action="/post">
        <div class="form-box">
            <div class="header-text">
                <h4>add story </h4>
            </div>
            <input placeholder="title" type="Title"  name="Title" id="Title" required>
            <input placeholder="story" type="story" name="story" id="story" required >
            
            <button>submit</button>
            

        </div>
    </form>
    <br>

</body>
</html>