<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Isha L'Isha</title>
</head>
<style>
#opening{
	text-align: center;
	background-color: #800080;
	color: white;

/*	background-image: url("https://www.preventionweb.net/sites/default/files/styles/landscape_16_9/public/2022-05/Image-Meciso-women-walk-yellow-min.jpg?h=2cf907fb&itok=-C1JRHi2");*/
/*	background-size: 1000px;*/
}

body{
	color: #800080;
}
nav{
	background-color:uy;
	color: #800080;
	margin-top: 10px;
}


        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
        }

        nav a:hover {
            color: #f39c12;
        }
</style>
<body>
	<nav>
		<ul>
            <il><a href="/post">Post Your Story</a></il>
            <il><a href="/statistics">Statistics</a></il>
            <il><a href="/display">Community Stories</a></il>
            <il><a href="/youhelp">How You Can Help</a></il>
        </ul>
   </nav>

	<div id='opening'>
	   <br>
	   <br>
	   <h1>Take Initiave</h1>
	   <br>
	   <br>
	</div>

	<br>
	<br>

	<div>
		<h2> How can you help? <h2>
	</div>

	<br>
	<br>

	<div>
		<h4>Access to education</h4>
		<br>
		<p> Support initiatives that provide education and training to women in marginalized<br> communities about climate change impacts,<br> sustainable practices,and adaptation strategies. <br>This knowledge empowers them to make informed decisions and take proactive steps to protect their communities.</p>
	</div>

	<br>

	<div>
		<h4>Sustainable livelihoods</h4>
		<br>
		<p>Encourage and invest in sustainable livelihood projects that are climate-resilient and benefit women.<br> This could include promoting eco-friendly agriculture, renewable energy ventures,<br> and small-scale businesses that contribute to community resilience.</p>
	</div>

	<br>

	<div>
		<h4>Advocacy and awareness</h4>
		<br>
		<p>Support organizations working to raise awareness of gender-specific climate impacts and<br> advocate for policies that address the needs and rights of women in marginalized communities.</p>
	</div>

	<br>

	<div>
		<h4>Health and reproductive rights</h4>
		<br>
		<p>Recognize the intersectionality of climate change with women's health and reproductive rights.<br> Addressing these issues empowers women to make decisions about their bodies and families,<br> contributing to sustainable population management and adaptation.</p>
	</div>

	<br>

	<div>
		<h4>Reduce Your Carbon Footprint</h4>
		<br>
		<p>Take actions to reduce your own carbon footprint.<br> Adopt sustainable practices such as conserving energy, reducing waste, using public <br>transportation or biking, and consuming responsibly.</p>
	</div>

	<br>

	<div>
		<h4>Support Sustainable Products</h4>
		<br>
		<p>Be conscious of the products you buy and support companies that prioritize sustainability and fair trade practices.<br> This indirectly helps women in marginalized communities who might be involved in producing these products.</p>
	</div>

	<br>

	<div>
		<h4>Promote Sustainable Lifestyles</h4>
		<br>
		<p>Encourage friends, family, and colleagues to adopt sustainable lifestyles and<br> support causes that champion climate action and women's rights.</p>
	</div>

	<br>

	<div>
		<h4>Donate to Climate and Women-Centric Charities</h4>
		<br>
		<p>Contribute to reputable charities and organizations that focus<br> on climate change solutions and women's empowerment in marginalized areas.</p>
	</div>

	<br>

	<div>
		<h4>Stay Politically Engaged</h4>
		<br>
		<p>Stay informed about political developments related to climate change and women's rights.<br> Vote for candidates who prioritize these issues and contact your representatives to express your concerns.</p>
	</div>

	<br>

	<div>
		<h4>Support Women's Initiatives</h4>
		<br>
		<p>Seek out and support initiatives<br> and projects led by women in marginalized communities that aim to tackle climate change.<br> You can contribute financially or volunteer your time and skills to assist with their efforts.</p>
	</div>

</body>
</html>